body {
  height: 100vh;
  
  background-color: #E5E5E5;
}

/* ************* Header **************** */

header,
.logos,
.headerNavigation {
  display: flex;
  align-items: center;
}

.logos,
.searchBox {
  display: none;
}

header {
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 3.375rem;
  padding: 0 22px;

  border: solid 1px #DBDBDB;
  background-color: #fff;
}

.verticalSeparator {
  height: 22px;
  width: 1px;
  margin: 0 10px;
  
  background-color: #DBDBDB;
  border: none;
}

.logoInstagram ion-icon {
  width: 19.25px;
}

.headerNavigation ion-icon {
  width: 17.87px;
}

/********** Stories  **********/

.stories {
  display: flex;
  align-items: center;
  
  margin-top: 88px;
  margin-bottom: 18px;

  padding-left: 18px;
  overflow: hidden;
}

.story .storyBg{

  width: 66px;
  height: 66px;
  border-radius: 50%;

  margin-right: 14px;
}

/************ Feed **************/

